/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Exo+2');
html, body, main, header {
    background-color: #69D2E7;
    font-family: 'Exo 2', sans-serif;
    color: black;
    text-align: center;
}



